<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803821902091-fflp0li0hbi8t91gfdero1lhsar1kd1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803821902091-fflp0li0hbi8t91gfdero1lhsar1kd1b</string>
	<key>API_KEY</key>
	<string>AIzaSyCFbBXfQ5AdKyVl5ds0UZLFt7twXo8N-hs</string>
	<key>GCM_SENDER_ID</key>
	<string>803821902091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmedsaeed.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-9aedd</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-9aedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803821902091:ios:8224e500ddf6f89bb06a0e</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-9aedd.firebaseio.com</string>
</dict>
</plist>